* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif
}

h1 {
    font-size: 80px;
    line-height: 65px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #112236;
    color: #61BDBE;
    font-size: 20px;
    padding: 5px;
}

figure {
    width: 16vw;
    display: flex;
    flex-direction: column;
}

figcaption {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/* ---------------HEADER------------ */

header {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112236;
    position: fixed;
    top: 0;
    z-index: 20;
}

#logo img {
    height: 40px;
    width: 110px;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin-top: 10px;
    padding-right: 3vw;
    list-style: none;
}

.nav-item a{
    color: #F9F5EC;
    
}
.nav-item{
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -11px;
}
.nav-item:hover {
    background-color: rgb(149, 149, 149);
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -11px;
}

.mobile-menu{
    display: none;
}
.mobile-menu-ICON{
    display: none;
}
/* ---------------MAIN------------ */

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
}

/* ---------------BUSCAR IMOVEIS------------ */
#BUSCAR-IMOVEIS {
    margin-top: 40px;
    min-height: 60vh;
    max-height: 100vh;
    height: 60vw;
    background: url("./imagens e icones/aluno-de-tiro-medio-segurando-livros.jpg") no-repeat;
    background-size: 100vw;
    background-position: top;
}

#BUSCAR-IMOVEIS>div {
    position: absolute;
    top: 25rem;
    left: 10vw;
    height: 220px;
    width: 385px;
    background-color: rgb(255, 255, 255);
}

#buscar {
    background-color: white;
    width: 300px;
    display: flex;
    justify-content: space-between;
    border: none;
    gap: 20px;
    padding: 10px;
}

#buscar label {
    padding: 10px;
}

#buscar select {
    margin: 10px;
    width: 150px;
    color: rgb(109, 109, 109);
    font-size: 16px;
}

#buscar div {
    border: 1px solid rgb(177, 177, 177);
}

#botao-buscar {
    width: 385px;
    padding: 10px;
}

#BUSCAR-IMOVEIS div h1 {
    text-align: center;
    padding-bottom: 20px;
}

#BUSCAR-IMOVEIS div div p {
    padding-left: 10px;
}

/* ---------------QUEM SOMOS------------ */

#QUEMSOMOS {
    background-color: #181411;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#QUEMSOMOS div {
    color: #F9F5EC;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    padding: 10vw;
    gap: 50px;
}

#QUEMSOMOS div p {
    width: 35vw;
}

#QUEMSOMOS img {
    width: 60vw;
    margin-bottom: 100px;
    position: relative;
}

.reveal {
    position: relative;
    transform: translateY(6vw);
    opacity: 0;
    transition: 0.5s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* ---------------NOSSAS MORADIAS------------ */

#MORADIAS h1 {
    font-size: 60px;
}

#MORADIAS {
    height: fit-content;
    padding: 100px;
    padding-bottom: 150px;
    text-align: center;
    background-color: rgb(156, 156, 151);
}

#FOTOS-MORADIAS {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: fit-content;
}

#FOTOS-MORADIAS figure {
    width: 35vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#FOTOS-MORADIAS figure figcaption {
    margin-top: 10px;
    text-align: left;
    gap: 20px;
    padding: 10px;
}
.seta button{
    background-color: rgb(1, 1, 1);
    color: rgb(254, 254, 254);
    width: 30px;
    height: 30px;
    z-index: 100;
    border: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seta{
    position: relative;
    bottom: 15vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

/* ---------------BENEFICIOS------------ */

#BENEFÍCIOS {
    display: flex;
    flex-direction: column;
    background-color: #F9F5EC;
    height: fit-content;
    padding: 100px;
}

#BENEFÍCIOS>:first-child {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    text-align: center;
}

#quatro-vantagens {
    margin-top: 100px;
    margin-bottom: 50px;
    height: fit-content;
    padding: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: start;
}

#quatro-vantagens figcaption p {
    margin-top: 10px;
}

#quatro-vantagens figure div {
    overflow: hidden;
    width: 16vw;
    height: 16vw;
}

#quatro-vantagens figure:hover {
    background-color: #ccc9c2;
}

#quatro-vantagens figure img {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    width: 100%;
    height: 100%;
}

#quatro-vantagens figure:hover img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

/* ---------------CONTATO------------ */

#CONTATO {
    display: grid;
    grid-template-columns: 0.8fr 3.4fr 0.8fr 5fr;
    grid-template-rows: 1fr 3fr 1fr;
    height: 60vw;
    min-height: 500px;
    max-height: 720px;
    background-color: rgb(156, 139, 123);
}

.caixaBranca {
    display: flex;
    flex-direction: column;
    height: 50vw;
    max-height: 500px;
    min-height: 400px;
    width: 100%;
    background-color: #F9F5EC;
    margin-top: 5vw;
    margin-bottom: 80vw;
    grid-column: 2 / 3;
    padding: 2rem;
    gap: 2vw;
    justify-content: end;
    align-items: start;
}

.caixaBranca h1 {
    font-size: 65px;
    margin-bottom: 2rem;
}

.video-grande {
    width: max-content;
    height: fit-content;
    overflow: hidden;
}

.figure-grande {
    grid-column: 4 / 5;
    overflow: hidden;
    min-height: 500px;
    height: 60vw;
    max-height: 720px;
    width: 100%;
    max-width: 700px;
}

#form button {
    margin-top: 10px;
    width: 13rem;
}

#form input {
    width: 13rem;
    height: 1.5rem;
    border: 1px solid black;
}

#form {
    border: hidden;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    grid-column: 4 / 5;
    align-items: start;
    justify-content: start;
    margin-bottom: 20px;
}

/* ---------------FOOTER------------ */

#page-footer {
    padding: 3vw 6vw;
    height: fit-content;
    background-color: rgb(228, 228, 228);
    display: grid;
    grid-template-columns: 8fr 4fr 1fr 4fr;
}

#page-footer>:first-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: 1 / 2;
}

#download {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    gap: 10px;
}

.download-img {
    width: 11vw;
}

#redes-sociais {
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    gap: 20px;
}

#redes-sociais a img {
    width: 4vw;
}


/* ---------------RESPONSIVIDADE------------ */

@media screen and (max-device-width: 1000px) and (min-device-width: 600px) {
    #BUSCAR-IMOVEIS {
        background-size: 65rem;
        min-height: 42rem;
    }
    #FOTOS-MORADIAS {
        margin-top: 60px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    #FOTOS-MORADIAS figure {
        width: 80vw;
        height: fit-content;
    }
    .seta{
        bottom: 30vw;
    }
    #quatro-vantagens{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #quatro-vantagens figure div {
        overflow: hidden;
        width: 300px;
        height: 300px;
        display: flex;
    }

    #quatro-vantagens figure {
        width: 300px;
        padding: 0;
    }

    #BENEFÍCIOS {
        display: flex;
        flex-direction: column;
        background-color: #F9F5EC;
        height: fit-content;
        padding: 20px;
    }

    #page-footer {
        display: grid;
        grid-template-columns: 30fr 2fr 1fr 4fr;
    }

    #download {
        grid-column: 4 / 5;
    }

    .caixaBranca h1 {
        font-size: 40px;
        margin-bottom: 1rem;
    }
}

/* ---------------CELULAR------------ */
@media (max-width : 600px) {
    h1 {
        font-size: 50px;
        line-height: 15vw;
    }

    p {
        font-size: 18px;
    }

    header {
        height: 60px;
        width: 100vw;
    }
    .nav-item{
        display: none;
    }
    .mobile-menu-ICON{
        display: block;
        position: fixed;
        top: 0;
        right: 8px;
    }    
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        background-color: #112236;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 60px;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-menu .nav-item{
        display: flex;
        width: 100vw;
        height: 15vh;
        justify-content: center;
        align-items: center;
    }
    .open{
        display: block;    
    }

    #logo img {
        height: 60px;
        width: 130px;
    }
    .main-container {
        width: 100vw;
        min-width: 320px;
    }

    #BUSCAR-IMOVEIS {
        margin-top: 3.5rem;
        height: 92vw;
        min-height: 200vw;
        background-size: 300vw;
        background-position: 60% 40% ;
    }

    #BUSCAR-IMOVEIS>div {
        width: 80vw;
    }
    #BUSCAR-IMOVEIS>div h1 {
        width: 80vw;
    }

    #buscar {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 10px;
    }

    #botao-buscar {
        width: 80vw;
        padding: 10px;
    }

    #QUEMSOMOS {
        background-color: #181411;
        height: 380vw;
        width: 100vw;
        padding: 10px;
        overflow: hidden;
    }

    #QUEMSOMOS div {
        margin-top: 15rem;
        text-align: start;
        padding: 2rem;
        gap: 30px;
    }

    #QUEMSOMOS div p {
        width: 80vw;
    }

    #QUEMSOMOS img {
        width: 200vw;
        margin-top: 46vw;
    }

    .revealimg {
        transform: translateY(150px);
    }

    #MORADIAS {
        height: fit-content;
        padding: 10px;
        padding-top: 100px;
        padding-bottom: 20px;
        text-align: start;
    }
    #MORADIAS>div h1 {
        text-align: start;
        margin: 80px 0;
        font-size: 3rem;
    }

    #FOTOS-MORADIAS {
        margin-top: 60px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    #FOTOS-MORADIAS figure {
        width: 80vw;
        height: fit-content;
    }
    .seta{
        bottom: 30vw;
    }

    #BENEFÍCIOS>div h1 {
        text-align: start;
        margin: 80px 0;
        font-size: 4rem;
    }

    #BENEFÍCIOS {
        padding: 10px;
    }

    #quatro-vantagens {
        margin-top: 0;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        padding: 8%;
    }

    #quatro-vantagens figure div {
        width: 80vw;
        height: 80vw;
    }

    #quatro-vantagens figcaption {
        width: 80vw;
        height: fit-content;
    }

    #CONTATO {
        display: flex;
        flex-direction: column;
        min-height: 140vh;
    }

    .caixaBranca {
        margin: 25% 8%;
        width: 80vw;
        min-height: 60vh;
        padding: 15px;
    }
    .caixaBranca h1 {
        margin-bottom: 4rem;
    }
    #form {
        gap: 0.5rem;
    }

    .figure-grande {
        min-height: 130vw;
    }

    #page-footer {
        margin-top: 0;
        padding: 3vw 6vw;
        height: fit-content;
        background-color: rgb(228, 228, 228);
        display: flex;
        flex-direction: column;
    }

    #page-footer>:first-child {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    #download {
        display: flex;
        flex-direction: column;
        padding-left: 2vw;
        gap: 10px;
    }

    .download-img {
        width: 40vw;
    }

    #redes-sociais {
        margin-top: 10vh;
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    #redes-sociais a img {
        width: 14vw;
    }

}
@media (max-width : 600px) and (max-height : 750px){
    #QUEMSOMOS img {
        width: 200vw;
        margin-top: 26vw;
    }
    .caixaBranca {
        margin: 20% 8%;
        min-height: 70vh;
    }
    .caixaBranca h1 {
        margin-bottom: 1.5rem;
    }
    #CONTATO {
        min-height: 290vw;
    }
}